* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: SpectralSemiBold;
    src: url("../fonts/Spectralscsemibold.ttf");
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #d5d9da;
}

.main-image {
    background-image: url("../images/main-image.png");
    background-size: cover;
    background-position: center;
    /*Задать размер для отображения фоновой фотографии*/
    height: 811px;
}
.header{
    background-color: #dde0db;
    padding: 16px 0;
    /*меню при скролле остается на месте*/
    position: sticky;
    top: 0;
    z-index: 2;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header .container{
    font-size: 0;
}
.header .logo{
    display: inline-block;
    vertical-align: middle;
}
.header .menu{
    margin-left: 354px;
    display: inline-block;
    vertical-align: middle;
}
.header .menu ul{
    list-style: none;
    font-size: 0;
    /*элементы не видны,чтобы появились пункты меню на странице
    надо задать стили для ссылки <а> в стиле .header .menu ul li a*/
}
.header .menu ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 28px;
}
.header .menu ul li a{
    font-size: 16px;
    color: rgb(70, 80, 85);
    line-height: 1.2;
    text-decoration: none;
}
.header-actions{
    display: inline-block;
    vertical-align: middle;
    margin-left: 94px;
}
.button{
    font-size: 16px;
    /*уменьшаем line-height c 1.2 до 11px при необходимости,
    чтобы кнопка соответствовала по высоте и
    чтобы закругления кнопки соответствовали макету*/
    line-height: 11px;
    padding: 14px;
    border-radius: 20px;
    cursor: pointer;
    /*Задаем кнопке ширину, а не боковые padding*/
    width: 205px;
}
/*Стиль для конкретной кнопки , классы без пробелов*/
.button.button-transparent{
    color: rgb(121, 136, 144);
    background-color: transparent;
    border: 1px solid #818282;
}
.gallery{
    padding: 102px 0 55px 0;
}
.gallery h2{
    font-size: 40px;
    font-family: SpectralSemiBold, sans-serif;
    color: rgb(47, 40 ,34);
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 54px;
    text-align: center;

}
.gallery-description{
    font-size: 18px;
    color: rgb(62, 52, 44);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 18px;
}
.gallery-items{
    margin-left: -12px;
    margin-right: -12px;
    font-size: 0;
}
/*Лучше размещать картинки на фон, а не фотографиями
для удобства позиционирования*/
.gallery-item{
    margin: 12px 11px;
    display: inline-block;
    vertical-align: middle;
    width: 384px;
    height: 290px;
    /*полностью залить блок картинкой*/
    background-size: cover;
    background-position: center;
    /*родитель для текста в рамке с картинкой*/
    position: relative;
}
.gallery-item.gallery-item-big{
    width: 792px;
}
.gallery-text{
    font-size: 18px;
    color: rgb(255, 255,255);
    line-height: 1.2;
    left: 20px;
    bottom: 20px;
    /*ребенок*/
    position: absolute;
}
/*Элементы все затемнены*/
.gallery-eye{
    /*изначально блок не виден*/
    display: none;
    opacity: 0.6;
    background-color: black;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    /*строчный элемент-глаз по центру*/
    text-align: center;
    /*выровнять глазик по вертикали либо методом calc, либо методом line-height*/
    line-height: 290px;
    vertical-align: middle;
}
.gallery-eye img{
    vertical-align: middle;
}
/*наводим на gallery-item , а отображать будем gallery-eye, который находится внутри*/
.gallery-item:hover .gallery-eye{
    display: block;
}
.tours{
    padding: 54px 0 88px 0;
}
.tours h2{
    font-size: 40px;
    font-family: SpectralSemiBold, sans-serif;
    color: rgb(47, 40 ,34);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 50px;
    text-align: center;
}
.tours-items{
    margin-right: -12px;
    margin-left: -12px;
    font-size: 0;
}
.tour-item{
    margin: 0 12px;
    display: inline-block;
    vertical-align: middle;
    max-width: 384px;
    position: relative;
}
.tour-item-info{
    background-color: #31393f;
    padding: 22px 22px 40px 22px;
}
.tour-item-text{
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 37px;
}
.button.button-filled{
    background-color: #da8246;
    color: rgb(37, 41,43);
    font-size: 18px;
}
.tour-item-action{
    text-align: center;
}
/*скопированная с макета тень на кнопке при наведении*/
.button.button-filled:hover{
        box-shadow: 0px 4px 14.25px 0.75px rgba(217, 149, 103, 0.8);
}
.fix-block{
    width: 46px;
    height: 46px;
    background-color: #da8246;
    text-align: center;
    line-height: 46px;
    position: absolute;
    top: 0;
    right: 0;
}
.fix-block img{
    vertical-align: middle;
}
.footer {
    background-color: #31393f;
    padding: 54px 0 49px 0;
    position: relative;
}
.footer .container{
    font-size: 0;
}
.footer .logo{
    display: inline-block;
    vertical-align: middle;
}

.footer-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 900px;
    color: rgb(131, 145, 156);
    text-align: center;
    font-size: 0;
    position: absolute;
}
.footer-contacts{
    display: inline-block;
    font-size: 18px;
    color: rgb(167, 185, 197);
    margin-bottom: 15px;
    line-height: 15px;

}
.footer-phone{
    font-size: 14px;
    color: rgb(131, 145, 156);
    margin-bottom: 7px;
    line-height: 1.2;
}
.footer-phone.second{
    margin-bottom: 0;
    line-height: 1;
}








